
:root
{
    /* animations delay half as much */
    --animate-delay: 0.5s;
}
body
{
    padding: 2%;
    background-color: rgb(15, 21, 37);
    font-family: 'Ubuntu', sans-serif;
}

img
{
    width: 300px;
    border-radius: 15px;
}

#mySnapshot
{
    width: 200px;
    border-radius: 50%;
}

section
{
    padding-bottom: 50px;
}

/* nav bar styling */
nav
{
    /* debug */
    background-color: rgba(15, 21, 37, 0.66);
    /* flex element */
    display: flex; 
    /* center the content in the flex element */
    justify-content: center;
    /* generate padding around the flex element */
    padding: 10px 10px;
    /* make the position fixed at the top of the screen */
    position: fixed;
    left: 0;
    top: 0;
    /* ensure the width is all the screen */
    width: 100%;
    /* make sure this is always in the front */
    z-index: 100;
}

nav div
{
    /* debug */
    /* background-color: red; */
    /* ensure divs are centered */
    text-align: center;
    /* padding on the left */
    padding-left: 30px;
    /* padding on the right  */
    padding-right: 30px;
}

p, h1, section, span, a
{
    color:rgb(71, 172, 255);
}

/* the current problem is that the nav bar */
/* digs into the name heading (text closest to the top of the page) */
/* on page load. by increasing the margin of the top, this  */
/* means the heading is placed outside of the nav bar's range */
#welcome
{
    margin-top: 35px;
    text-align: center;
}

/* enables row to wrap around (stacking) */
.row
{
	display: wrap;
}

/* make columns variable size on widescreen devices */
@media only screen and (max-width : 768px)
{
    /* make all columns max size on mobile */
    /* selects any element that begins with "col-" */
    [class ^= col-]
    {
        flex-basis: 100%;
    }

    /* expand containers on mobile */
    .container
    {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;    
    }
}

/* wide screen settings */
@media only screen and (min-width: 768px)
{
    /* define columns of unique size in desktop */
    .col-1 {flex-basis: 8.33%;} /* width works too */
    .col-2 {flex-basis: 16.66%;}
    .col-3 {flex-basis: 25%;}
    .col-4 {flex-basis: 33.33%;}
    .col-5 {flex-basis: 41.66%;}
    .col-6 {flex-basis: 50%; }
    .col-7 {flex-basis: 58.33%;}
    .col-8 {flex-basis: 66.66%;}
    .col-9 {flex-basis: 75%;}
    .col-10 {flex-basis: 83.33%;}
    .col-11 {flex-basis: 91.66%;}
    .col-12 {flex-basis: 100%;}
    

    /* shrink containers in desktop */
    .container
    {
        max-width: 66%;
        width: 100%;
        margin: 0 auto; 
    }
}

/* center all columns? */
[class ^= col-]
{
    display:flex;
    justify-content: center;
}

.sectionHeader
{
    text-align: center;
}

/* tags */
.C\#
{
    background-color: rgb(174, 0, 255);
}

.Javascript
{
    background-color: blue;
}

#spark1
{
    height: 55%;
    width: auto;
}

.centerText
{
    text-align: center;
}

.centeredFlexElements
{
    justify-content: center;
}

/* make paragraphs uniform so they stack nicely */
.projectParagraph
{
    width: 80%;
}

a:hover
{
    color: rgba(255, 255, 255, 0.938);
}